<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linux Command Helper - Login</title>
    <link rel="icon" href="/images/logo2.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<img src="/images/logo2.png" alt="Linux Chatbot Logo" class="logo">

<div class="login-text"><strong>Login</strong></div>

<div class="social-logos">
    <img src="/images/logofb.png" alt="Facebook" onclick="window.location.href='/oauth2/authorization/facebook'">
    <img src="/images/logogmail.png" alt="Gmail" onclick="window.location.href='/oauth2/authorization/google'">
</div>

<div id="errorMessage" class="error-message">Errore d'accesso! Riprova.</div>

<script src="/js/login.js"></script>

</body>
</html>
